<h2><%= @team.name %></h2>

<h2>Team Motto: <%= @team.motto %></h2>
<h2>Hero Name: <%= @hero1.name %></h2>
<p>Hero Power: <%= @hero1.power %></p>
<p>Hero Biography: <%= @hero1.bio %></p>
<h2>Hero Name: <%= @hero2.name %></h2>
<p>Hero Power: <%= @hero2.power %></p>
<p>Hero Biography: <%= @hero2.bio %></p>
<h2>Hero Name: <%= @hero3.name %></h2>
<p>Hero Power: <%= @hero3.power %></p>
<p>Hero Biography: <%= @hero3.bio %></p>